#nav-bar{
    background-color: rgb(32, 221, 205);
    background: linear-gradient(#2be631,  #0bc7a1ed);
    height: 75px;
}

.navbar-brand {
    font-size: 36px;
    color: white;
}

#search-bar{
    align-items: center;
}

.card{
    background: linear-gradient(#2eda3f,  #bae12aed);
    margin-bottom: 20px;
    font-size: 20px;
}